<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait" src="/img/kimg0803.jpg" </body> <p>Coded by {{name}}</p>

  </div>
  <p>Step up! My first uploaded app based on lesson from Andrew Mead's online class.
  </p>
  <p>This is host at Heroku.</p>
  {{>footer}}
</body>

</html>